<a href="https://colab.research.google.com/github/Naushad13b/SVM/blob/main/001)SVMWITHDATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('PollutantWithClass.csv')

In [ ]:
data.head()

   PM2.5    PM10    NO2   SO2    CO  CLASS
0  50.13  226.00  47.42  6.21  0.93      0
1  44.71  211.61  39.28  6.46  0.79      0
2  41.70  195.87  32.85  6.52  0.67      0
3  39.96  161.79  33.66  6.14  0.63      0
4  33.31  155.41  34.65  6.06  0.67      0

In [ ]:
X = data.drop('CLASS', axis=1)
y = data['CLASS']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

SVC(kernel='linear')

In [ ]:
y_pred = svclassifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[55  1]
 [ 4 87]]
              precision    recall  f1-score   support

           0       0.93      0.98      0.96        56
           1       0.99      0.96      0.97        91

    accuracy                           0.97       147
   macro avg       0.96      0.97      0.96       147
weighted avg       0.97      0.97      0.97       147

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

0.034013605442176874

In [ ]:
from sklearn.metrics import mean_absolute_error as mae
y_true = [2, 1, 3, 7]
y_pred = [2, 0.0, 2, 8]
#mean_absolute_error(y_true, y_pred)
mae(y_true, y_pred)

0.75

In [ ]:
actual = [12, 13, 14, 15, 15, 22, 27]
pred = [11, 13, 14, 14, 15, 16, 18]

In [ ]:
from sklearn.metrics import mean_absolute_error as mae

#calculate MAE
mae(actual, pred)

2.4285714285714284